@charset "UTF-8";
/* CSS Document */

a:link {
  color: palevioletred;
}

/* visited link */
a:visited {
  color: palevioletred;
}

/* mouse over link */
a:hover {
  color: paleturquoise;
}

/* selected link */
a:active {
  color: coral;
}
body {
	background-color:#f6f5f2; 
	color:#1d3215;
}

#headerdiv {
	background-color: #ef476f;
	background-image: url("photo-1503455637927-730bce8583c0.jpeg");
	background-size: cover;
	background-position: center;
	font-size: 50px; 
	text-align: center; 
	color: #e56d85; 
	padding: 25px;
}
#navdiv {
	text-align: center;
	background-color: #487531;
	color: #f6f5f2;
	padding: 15px;
}
#grablediv {
	padding: 15px;
}
#footer {
	text-align: center; 
	background-color: #487531; 
	color: #f6f5f2; 
	padding: 15px; 
	font-size: 12px;
}
.threecolumns {
	width: 31%;
	padding: 15px;
	float: left;
	border: 2px solid black; padding: 5px;
	background-color: lightpink
}
.threecolumns:hover {
	box-shadow: 0px 0px 5px 5px #cccccc;
	
	
}